.row{
}

.container{
    width: 100%;
    height: 100%;
}

.main-container{
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}

.main-container > div{
    height: 100%;
}

.message-container {
    max-height: 100%;
    
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messages{
    overflow-y: auto;
}

.controls{
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.controls #messageInput{
    border: 1px solid var(--primary);
}

.controls .btn{
    border: 1px solid var(--primary);
    color: var(--primary);
}

.controls .btn:is(:hover, :focus){
    background: var(--primary);
    color: white;
}

ul#messages-list{
    display: flex;
    flex-direction: column;
}

ul#messages-list li {
    min-width: 120px;
    list-style-type: none;
    padding: .5rem 1rem;
    background: rgba(0,0,0,0.3);
    margin-bottom: .7rem;
}

ul#messages-list li.to{
    border-radius: 10px 10px 0 10px;
    align-self: flex-end;
}

ul#messages-list li.to.seen{
    background: rgba(var(--primary-rgb), 0.3);
}

ul#messages-list li.from{
    border-radius: 10px 10px 10px 0;
    align-self: flex-start;
}

/*Post Messages*/
.message-post{
    width: 60%;
    max-height: 60%;
}

.message-post .post-body img{
    width: 80%;
}

/* Contact List Section */
.contact-container {
    width: 35%;
    background: var(--bg-color);
    color: white;
    padding: 1rem;
    border-radius: 15px;
    overflow-y: auto;
}


.search input{
    width: 100%;
    padding: .5rem;
    background: none;
    color: white;
    border-radius: 15px; 
    border: 1px solid white;    
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid white;
    margin: 1rem 0;
    border-radius: 15px;
    padding: 1rem;
    cursor: pointer;
}

.contact.active{
    border-color: var(--primary);
}

.contact.active p.username{
    color: var(--primary);   
}

.details{
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0
}

.details p{
    margin-bottom: unset;
}

p.username::before{
    content: '@';
}