.root {
    overflow: hidden;
}

main.container {
    height: 100vh;
    overflow-y: scroll;
    padding: 1rem;
}

.item-content{
    width: 200px;
}

.item-content img{
    width: 90%;
    aspect-ratio: 1/1;
}