@section Styles{
	<link href="~/css/home.css" rel="stylesheet" />
}

@{
	ViewData["Title"] = "For You";
}

<div class="send-post-modal" data-visible="false" data-postId="">
	<div class="modal-container">
		<div class="head">
			<h5>Share Post</h5>
			<i class="fa-solid fa-x"></i>
		</div>
		<div class="search"><input type="text" class="search" placeholder="Search User" /></div>
		<div class="body">
		</div>
		<div class="footer">
			<button class="cancel">Cancel</button>
		</div>
	</div>
</div>

<script src="~/js/pages/forYouFeed.js"></script>

<script>
	$(document).ready(() => {
		$("a#forYou-link").addClass("active");
	});
</script>