@using Microsoft.AspNetCore.Identity

@using Spacebook.Models;

@inject SignInManager<SpacebookUser> SignInManager
@inject UserManager<SpacebookUser> UserManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Spacebook</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    


    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://unpkg.com/devextreme-quill@22_2/dist/dx-quill.min.js"></script> *@

    @* Uncomment to use the Gantt control *@
    @*<link href="~/css/devextreme/dx-gantt.css" rel="stylesheet" />*@

    @* Uncomment to use the Diagram control *@
    @*<link href="~/css/devextreme/dx-diagram.css" rel="stylesheet" />*@

    <link href="~/css/devextreme/bootstrap.css" rel="stylesheet" />

    @* Predefined themes: https://js.devexpress.com/DevExtreme/Guide/Themes_and_Styles/Predefined_Themes/ *@
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />

    @* Uncomment to use the Gantt control *@
    @*<script src="~/js/devextreme/dx-gantt.js"></script>*@

    @* Uncomment to use the Diagram control *@
    @*<script src="~/js/devextreme/dx-diagram.js"></script>*@

    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/bootstrap.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    


    @* Uncomment to use Globalize for localization *@
    @* Docs: https://docs.devexpress.com/AspNetCore/400577#globalize *@
    @*<script src="~/js/devextreme/cldr.js"></script>*@
    @*<script src="~/js/devextreme/cldr/event.js"></script>*@
    @*<script src="~/js/devextreme/cldr/supplemental.js"></script>*@
    @*<script src="~/js/devextreme/cldr/unresolved.js"></script>*@
    @*<script src="~/js/devextreme/globalize.js"></script>*@
    @*<script src="~/js/devextreme/globalize/message.js"></script>*@
    @*<script src="~/js/devextreme/globalize/number.js"></script>*@
    @*<script src="~/js/devextreme/globalize/currency.js"></script>*@
    @*<script src="~/js/devextreme/globalize/date.js"></script>*@

    @* Uncomment to enable client-side export *@
    @*<script src="~/js/devextreme/jszip.js"></script>*@

    <script src="~/js/devextreme/dx.all.js"></script>

    @* Uncomment to provide geo-data for the VectorMap control *@
    @* Docs: https://js.devexpress.com/DevExtreme/Guide/Widgets/VectorMap/Providing_Data/#Data_for_Areas *@
    @*<script src="~/js/devextreme/vectormap-data/world.js"></script>*@

    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/pages/search.js"></script>
	<link href="~/css/globalstyles.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="root">
			<div class="nav">
                <div class="header">
                    <h2>Spacebook</h2>
                    <input type="text" id="searchTerm" placeholder="Search posts..." />
                    <ul id="results"></ul>
                </div>
                <div class="body">
					<ul>
						<li>
							<a asp-controller="Home" asp-action="Index" id="home-link">
                                <span><i class="fa-solid fa-house"></i></span>
                                Home
							</a>
						</li>
						<li>
							<a asp-controller="Profile" asp-action="Index" id="profile-link" >
                                <span><i class="fa-solid fa-user"></i></span>
                                Profile
							</a>
						</li>
						<li>
                            <a onclick="onCreateButtonClicked()" data-toggle="modal" data-target="#uploadMediaModal" id="createPost">
                                <span><i class="fa-solid fa-plus"></i></span>
                                New Post
							</a>
						</li>
						<li>
							<a href="" id="notification-link">
                                <span><i class="fa-solid fa-bell"></i></span>
                                Notification
							</a>
						</li>
						@*<li>
							<a href="">
                                <span><i class="fa-solid fa-compass"></i></span>
                                Explore
							</a>
						</li>*@
						<li>
							<a asp-controller="Messages" asp-action="Index" id="message-link">
                                <span><i class="fa-solid fa-message"></i></span>
                                Messages
							</a>
						</li>
						@*<li>
                            <input type="text" id="searchTerm" placeholder="Search posts..." />
                            <ul id="results"></ul>
						</li>
						<li>
							<a href="">
								<span></span>
                                Share
							</a>
						</li>*@
                    </ul>
                </div>
                <div class="footer">
                    <partial name="_LoginPartial" />
                </div>
            </div>
			<div class="content">
                <main class="container">
                    @RenderBody()
                </main>
            </div>
        </div>

        <partial name="_ModalPartial" />
    } 
    else
    {
        <main class="container">
            @RenderBody()
        </main>
    }

</body>
</html>