@model Post

<div class="modal fade" id="uploadMediaModal" tabindex="-1" role="dialog" aria-labelledby="uploadMediaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create new post</h5>
                <button id="closeModal" type="button" data-bs-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form" method="post" asp-action="Index" asp-controller="Create" enctype="multipart/form-data">
                    <label asp-for="Caption"></label>
                    <input type="text" asp-for="Caption" />
                    <label asp-for="Tags"></label>
                    <input type="text" asp-for="Tags" />
                    <input id="upload" type="file" name="Media" onchange="handleImageUpload()" />
                    <img id="display-image" src="" />
                    <button type="submit">Share</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>


    function handleImageUpload() {
        var image = document.getElementById("upload").files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            document.getElementById("display-image").src = e.target.result;
        }

        reader.readAsDataURL(image);
    }
    
</script>

