@model Profile

<div class="row">
    <div class="col-2">
        <div style="max-height: 150px; max-width:150px;">
            <img src=@Model.ProfilePicture class="rounded-circle" alt="Profile Picture" width="150" height="150">
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col-8">
                <h2>@Model.Email</h2>
            </div>
            <div class="col">
                <form method="post" asp-controller="Profile" asp-action="Edit" asp-route-id="@Model.UserId">
                    <button class="btn btn-primary" type="submit">Edit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>0 posts</p>
            </div>
            <div class="col">
                <p>13 followers</p>
            </div>
            <div class="col">
                <p>38 following</p>
            </div>
        </div>
        <div class="row">
            @{
                var name = Model.DisplayName != null ? Model.DisplayName : Model.Username;
            }
            <p class="fw-bold">@name</p>
            @if(Model.Bio != null)
            {
                <p>@Model.Bio</p>
            }
        </div>
    </div>
</div>
<hr />

