<div>
    <h1>Open AI Chat</h1>
</div>
<br />
<div class="row">
    <div class="col-md-3 col-sm-6" style="margin-bottom:30px">
        <h6>History</h6>
        <div id="data-grid">
            @(
                Html.DevExtreme().DataGrid<Spacebook.Models.Profile>()
                .DataSource(_ => _.Mvc()
                .Controller("ChatWebAPI")
                .LoadAction("Get")
                .DeleteAction("Delete")
                .Key("Id")
                )
                .Editing(_ =>
                {
                    _.Mode(GridEditMode.Form);
                    _.RefreshMode(GridEditRefreshMode.Reshape);
                    _.UseIcons(true);
                    _.AllowDeleting(true);
                })
                .ShowBorders(true)
                .ShowColumnLines(false)
                .OnRowClick("onRowClick")
                .Columns(_ =>
                {
                    _.AddFor(_ => _.UserQuestion)
                    .HeaderCellTemplate("Click on a record to view it.");
                })
                )
        </div>
    </div>
