@{
	ViewData["Title"] = "Messages";
}
@using Microsoft.AspNetCore.Identity

@using Spacebook.Data;

<head>
	<link href="~/css/chatstyles.css" rel="stylesheet" />
</head>

@{
	@inject UserManager<SpacebookUser> UserManager

	var spacebookUser = (SpacebookUser)await UserManager.GetUserAsync(User);
}

<div class="main-container">
	<div class="contact-container">
		<div class="search">
			<input type="text" placeholder="Search"/>
		</div>
		<div class="contact-list">
			<div class="contact new">
				<div class="details">
					<p class="name">Yasteel Gungapursat</p>
					<p class="username">gungas</p>
				</div>
				<div class="action">
					<button class="btn">Start Chat</button>
				</div>
			</div>
			<div class="contact">
				<div class="details">
					<p class="name">Yasteel Gungapursat</p>
					<p class="username">gungas</p>
				</div>
			</div>
		</div>
	</div>
	<div class="message-container" data-conversation-id="">
		<div class="messages">
			<ul id="messagesList"></ul>
		</div>
		<div class="controls">
			<input type="hidden" value="@spacebookUser.Email" id="userId"/>
			<input type="text" class="form-control" id="messageInput" value="" placeholder="Type Message" />
			<button id="sendButton" class="btn btn-outline-success">Send</button>

		</div>
	</div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalr/clientHub.js"></script>